<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="28" android:compileSdkVersionCodename="9" package="com.ac" platformBuildVersionCode="28" platformBuildVersionName="9">
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_UPDATES"/>
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"/>
    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"/>
    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN"/>
            <category android:name="android.intent.category.LAUNCHER"/>
        </intent>
        <package android:name="com.google.android.gms"/>
        <package android:name="com.android.vending"/>
        <package android:name="com.android.creator"/>
        <package android:name="com.mdid.msa"/>
        <package android:name="com.samsung.android.deviceidservice"/>
        <package android:name="com.coolpad.deviceidsupport"/>
        <package android:name="com.heytap.openid"/>
        <package android:name="com.huawei.hwid"/>
        <package android:name="com.huawei.hwid.tv"/>
        <package android:name="com.huawei.hms"/>
        <package android:name="com.asus.msa.SupplementaryDID"/>
        <package android:name="com.zui.deviceidservice"/>
    </queries>
    <uses-permission android:name="com.asus.msa.SupplementaryDID.ACCESS"/>
    <uses-permission android:name="freemme.permission.msa"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
    <uses-permission android:name="android.permission.BROADCAST_STICKY"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_USER_DICTIONARY"/>
    <uses-permission android:name="android.permission.ACCESS_MTK_MMHW"/>
    <uses-permission android:name="android.permission.DIAGNOSTIC"/>
    <uses-permission android:name="android.permission.ACCESS_CACHE_FILESYSTEM"/>
    <uses-permission android:name="android.permission.SAMSUNG_TUNTAP"/>
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS"/>
    <application android:allowBackup="true" android:appComponentFactory="androidx.core.app.CoreComponentFactory" android:icon="@drawable/ic_launcher" android:label="@string/app_name" android:name="com.cyjh.elfin.base.AppContext" android:networkSecurityConfig="@xml/network_security_config" android:supportsRtl="true" android:theme="@style/Theme.App">
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>
        <activity android:configChanges="keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" android:exported="true" android:name="com.cyjh.elfin.ui.activity.SplashActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" android:launchMode="singleTask" android:name="com.cyjh.elfin.ui.activity.ElfinFreeActivity" android:screenOrientation="portrait" android:theme="@style/viewpager_indicators"/>
        <activity android:name="com.cyjh.elfin.ui.activity.SettingActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.cyjh.elfin.ui.activity.ScriptLogActivity" android:screenOrientation="portrait"/>
        <activity android:launchMode="singleTop" android:name="com.cyjh.elfin.ui.activity.ScriptLogDetailActivity" android:screenOrientation="portrait"/>
        <activity android:launchMode="singleTop" android:name="com.cyjh.elfin.ui.activity.FeedbackActivity" android:screenOrientation="portrait"/>
        <activity android:launchMode="singleTop" android:name="com.cyjh.feedback.lib.activity.ImageSelectActivity" android:screenOrientation="portrait"/>
        <activity android:launchMode="singleTop" android:name="com.cyjh.elfin.ui.activity.H5LinkJumpPageActivity" android:screenOrientation="portrait"/>
        <activity android:launchMode="singleTop" android:name="com.cyjh.elfin.ui.activity.MessagePushActivity" android:screenOrientation="portrait"/>
        <activity android:launchMode="singleTop" android:name="com.cyjh.elfin.ui.activity.MessageDetailActivity" android:screenOrientation="portrait"/>
        <activity android:launchMode="singleTask" android:name="com.cyjh.elfin.ui.activity.SweepCodeActivity" android:screenOrientation="portrait"/>
        <activity android:launchMode="singleTask" android:name="com.cyjh.elfin.ui.activity.SweepCodeZbarActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.cyjh.elfin.ui.activity.guide.RecognitionGuideActivity" android:screenOrientation="portrait"/>
        <activity android:launchMode="singleTask" android:name="com.cyjh.elfin.ui.activity.UnbindRegistrationCodeActivity" android:screenOrientation="portrait"/>
        <activity android:launchMode="singleTop" android:name="com.cyjh.elfin.ui.activity.BindRegisterCodeActivity" android:screenOrientation="portrait"/>
        <provider android:authorities="@string/pay_appid" android:exported="false" android:grantUriPermissions="true" android:name="androidx.core.content.FileProvider">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_paths"/>
        </provider>
        <service android:name="com.cyjh.elfin.services.KeepMainService"/>
        <activity android:excludeFromRecents="true" android:launchMode="singleInstance" android:name="com.cyjh.mobileanjian.screencap.TestActivity" android:process=":enginfloat" android:taskAffinity="com.test.myapp.OTHER_TASK" android:theme="@style/OnePxActivityStyle"/>
        <service android:exported="true" android:name="com.cyjh.elfin.floatingwindowprocess.service.FloatingWindowService" android:process=":enginfloat">
            <intent-filter>
                <action android:name="com.cyjh.elfin.floatingwindowprocess.service.FloatingWindowService"/>
            </intent-filter>
        </service>
        <meta-data android:name="com.cyjh.elfin.base.glidemodule.CustomGlideModule" android:value="GlideModule"/>
        <meta-data android:name="UMENG_APPKEY" android:value="579ad79de0f55a8b3c001633"/>
        <meta-data android:name="UMENG_CHANNEL" android:value="BillApk"/>
        <provider android:authorities="@string/pay_vsersion" android:exported="false" android:multiprocess="true" android:name="androidx.lifecycle.ProcessLifecycleOwnerInitializer"/>
        <provider android:authorities="@string/pay_vsersion_1" android:exported="false" android:multiprocess="false" android:name="net.grandcentrix.tray.provider.TrayContentProvider"/>
        <activity android:launchMode="singleTop" android:name="com.cyjh.elfin.ui.activity.studio.StudioBindActivity" android:screenOrientation="portrait"/>
        <activity android:launchMode="singleTop" android:name="com.cyjh.elfin.ui.activity.studio.StudioBindClearActivity" android:screenOrientation="portrait"/>
        <activity android:launchMode="singleTop" android:name="com.cyjh.elfin.ui.activity.studio.EditDeviceNameActivity" android:screenOrientation="portrait"/>
        <activity android:launchMode="singleTop" android:name="com.cyjh.root.ui.activity.ScreenShotActivity" android:theme="@android:style/Theme.Dialog"/>
        <activity android:launchMode="singleTask" android:name="com.cyjh.root.ui.activity.SelectApplicationListActivity" android:screenOrientation="portrait"/>
        <activity android:excludeFromRecents="true" android:name="com.cyjh.root.ui.activity.FreeRootLoadingDialogActivity" android:noHistory="true" android:screenOrientation="portrait" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity android:exported="false" android:launchMode="singleTask" android:name="com.elfin.ad.activity.FullScreenTwoAdActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.elfin.ad.activity.FullScreenTwoAdActivity"/>
            </intent-filter>
        </activity>
        <activity android:exported="false" android:name="com.anythink.china.activity.TransparentActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"/>
        <activity android:exported="false" android:name="com.anythink.china.activity.ApkConfirmDialogActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"/>
        <provider android:authorities="com.ac.anythink.fileProvider" android:exported="false" android:grantUriPermissions="true" android:name="com.anythink.china.common.ApkFileProvider">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/anythink_file_paths"/>
        </provider>
        <receiver android:exported="false" android:name="com.anythink.china.common.NotificationBroadcaseReceiver">
            <intent-filter>
                <action android:name="anythink_action_notification_click"/>
                <action android:name="anythink_action_notification_cancel"/>
            </intent-filter>
        </receiver>
        <service android:exported="false" android:name="com.anythink.china.common.service.ApkDownloadService"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:exported="false" android:launchMode="singleTask" android:name="com.anythink.core.activity.AnyThinkGdprAuthActivity" android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:exported="false" android:launchMode="standard" android:name="com.anythink.basead.ui.ATLandscapeActivity" android:screenOrientation="sensorLandscape" android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:exported="false" android:launchMode="standard" android:name="com.anythink.basead.ui.ATPortraitActivity" android:screenOrientation="sensorPortrait" android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:exported="false" android:launchMode="standard" android:name="com.anythink.basead.ui.ATLandscapeTranslucentActivity" android:screenOrientation="sensorLandscape" android:theme="@style/anythink_myoffer_half_screen"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:exported="false" android:launchMode="standard" android:name="com.anythink.basead.ui.ATPortraitTranslucentActivity" android:screenOrientation="sensorPortrait" android:theme="@style/anythink_myoffer_half_screen"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:exported="false" android:launchMode="singleTop" android:name="com.anythink.core.basead.ui.web.WebLandPageActivity" android:theme="@android:style/Theme.Light.NoTitleBar" android:windowSoftInputMode="adjustResize"/>
        <activity android:exported="false" android:name="com.anythink.basead.ui.RewardExitConfirmDialogActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"/>
        <activity android:configChanges="keyboardHidden|orientation|screenLayout|screenSize" android:excludeFromRecents="true" android:exported="false" android:launchMode="standard" android:name="com.anythink.expressad.reward.player.ATRewardVideoActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"/>
        <activity android:exported="false" android:name="cn.haorui.sdk.activity.HRNativeInterstitialActivity" android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:exported="false" android:name="cn.haorui.sdk.activity.HRDownloadDetailActivity" android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:configChanges="orientation|screenSize" android:exported="false" android:launchMode="singleTop" android:name="cn.haorui.sdk.activity.HRRewardVideoPlayerActivity" android:screenOrientation="behind" android:theme="@style/adsail_FullScreen"/>
        <activity android:exported="false" android:name="cn.haorui.sdk.activity.HRWebviewActivity" android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:exported="false" android:name="cn.haorui.sdk.core.webview.TaskCenterWebActivity" android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:exported="false" android:name="cn.haorui.sdk.adsail_ad.view.DownLoadDialogActivity" android:theme="@style/adsail_MyTranslucentTheme"/>
        <activity android:exported="false" android:name="cn.haorui.sdk.activity.HRAlertDialogActivity" android:theme="@style/adsail_DownloadDialog"/>
        <activity android:configChanges="orientation|screenSize" android:exported="false" android:launchMode="singleTop" android:name="cn.haorui.sdk.activity.HRDetailActivity" android:screenOrientation="portrait" android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" android:hardwareAccelerated="true" android:name="com.octopus.ad.AdActivity" android:theme="@style/OctopusDialogStyle"/>
        <service android:exported="false" android:name="com.octopus.ad.DownloadService"/>
        <provider android:authorities="com.ac.fileprovider" android:exported="false" android:grantUriPermissions="true" android:name="com.octopus.ad.OctopusProvider">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/octopus_file_path"/>
        </provider>
        <provider android:authorities="@string/one_way_file_provider" android:exported="false" android:grantUriPermissions="true" android:name="mobi.oneway.common.provider.OwCommonFileProvider">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/ow_same_file_path"/>
        </provider>
        <provider android:authorities="@string/one_way_bd_provider" android:exported="false" android:grantUriPermissions="true" android:name="mobi.oneway.common.provider.OwBFileProvider">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/ow_b_file_paths"/>
        </provider>
        <activity android:exported="false" android:launchMode="standard" android:name="com.didi.virtualapk.delegate.StubActivity"/>
        <activity android:exported="false" android:launchMode="standard" android:name="com.didi.virtualapk.core.A$1"/>
        <activity android:exported="false" android:launchMode="standard" android:name="com.didi.virtualapk.core.A$2" android:theme="@android:style/Theme.Translucent"/>
        <activity android:exported="false" android:launchMode="singleTop" android:name="com.didi.virtualapk.core.B$1"/>
        <activity android:exported="false" android:launchMode="singleTop" android:name="com.didi.virtualapk.core.B$2"/>
        <activity android:exported="false" android:launchMode="singleTop" android:name="com.didi.virtualapk.core.B$3"/>
        <activity android:exported="false" android:launchMode="singleTop" android:name="com.didi.virtualapk.core.B$4"/>
        <activity android:exported="false" android:launchMode="singleTop" android:name="com.didi.virtualapk.core.B$5"/>
        <activity android:exported="false" android:launchMode="singleTop" android:name="com.didi.virtualapk.core.B$6"/>
        <activity android:exported="false" android:launchMode="singleTop" android:name="com.didi.virtualapk.core.B$7"/>
        <activity android:exported="false" android:launchMode="singleTop" android:name="com.didi.virtualapk.core.B$8"/>
        <activity android:exported="false" android:launchMode="singleTask" android:name="com.didi.virtualapk.core.C$1"/>
        <activity android:exported="false" android:launchMode="singleTask" android:name="com.didi.virtualapk.core.C$2"/>
        <activity android:exported="false" android:launchMode="singleTask" android:name="com.didi.virtualapk.core.C$3"/>
        <activity android:exported="false" android:launchMode="singleTask" android:name="com.didi.virtualapk.core.C$4"/>
        <activity android:exported="false" android:launchMode="singleTask" android:name="com.didi.virtualapk.core.C$5"/>
        <activity android:exported="false" android:launchMode="singleTask" android:name="com.didi.virtualapk.core.C$6"/>
        <activity android:exported="false" android:launchMode="singleTask" android:name="com.didi.virtualapk.core.C$7"/>
        <activity android:exported="false" android:launchMode="singleTask" android:name="com.didi.virtualapk.core.C$8"/>
        <activity android:exported="false" android:launchMode="singleInstance" android:name="com.didi.virtualapk.core.D$1"/>
        <activity android:exported="false" android:launchMode="singleInstance" android:name="com.didi.virtualapk.core.D$2"/>
        <activity android:exported="false" android:launchMode="singleInstance" android:name="com.didi.virtualapk.core.D$3"/>
        <activity android:exported="false" android:launchMode="singleInstance" android:name="com.didi.virtualapk.core.D$4"/>
        <activity android:exported="false" android:launchMode="singleInstance" android:name="com.didi.virtualapk.core.D$5"/>
        <activity android:exported="false" android:launchMode="singleInstance" android:name="com.didi.virtualapk.core.D$6"/>
        <activity android:exported="false" android:launchMode="singleInstance" android:name="com.didi.virtualapk.core.D$7"/>
        <activity android:exported="false" android:launchMode="singleInstance" android:name="com.didi.virtualapk.core.D$8"/>
        <service android:exported="false" android:name="com.didi.virtualapk.delegate.LocalService"/>
        <service android:exported="false" android:name="com.didi.virtualapk.delegate.RemoteService" android:process=":daemon">
            <intent-filter>
                <action android:name="com.cyjh.elfin.intent.ACTION_DAEMON_SERVICE"/>
            </intent-filter>
        </service>
        <provider android:authorities="@string/one_way_virtual_apk_provider" android:exported="false" android:name="com.didi.virtualapk.delegate.RemoteContentProvider" android:process=":daemon"/>
        <provider android:authorities="com.ac.initprovider" android:exported="false" android:initOrder="100" android:name="com.tramini.plugin.api.TraminiContentProvider"/>
        <service android:name="com.cyjh.mq.service.IpcService" android:process=":enginfloat"/>
        <service android:label="@string/inputkb" android:name="com.ime.input.InputKb" android:permission="android.permission.BIND_INPUT_METHOD" android:process=":enginfloat">
            <intent-filter>
                <action android:name="android.view.InputMethod"/>
            </intent-filter>
            <meta-data android:name="android.view.im" android:resource="@xml/method"/>
        </service>
        <provider android:authorities="com.ac.preference" android:exported="true" android:name="com.core.util.share.SharedPreferenceProvider" android:process=":remote"/>
        <service android:name="com.hlzn.socketclient.service.SocketService"/>
        <provider android:authorities="com.ac.basepopup-trojan" android:exported="false" android:multiprocess="false" android:name="razerdp.basepopup.BasePopupRuntimeTrojanProvider"/>
        <activity android:launchMode="singleTop" android:name="com.cyjh.mobileanjian.screencap.ForScreenShotActivity" android:theme="@android:style/Theme.Dialog"/>
    </application>
</manifest>
